p{
          font-family:roboto,arial;
          margin-top:0px;
          margin-bottom:0px;
        }
          .thumbnail{
        width:100%;
      }
        body{
          margin:0px;
          padding-top:80px;
          padding-left:96px;
          padding-right:24px;
          background-color:rgb(248, 248, 248);
          font-family:roboto,arial;
        }