 .header{
  height:50px;
  DISPLAY:FLEX;
  FLEX-DIRECTION:ROW;
 JUSTIFY-CONTENT:SPACE-BETWEEN;
 position:fixed;
 right:0px;
 left:0px;
 top:0px;
 background-color:white;
 border-bottom-width:1px;
 border-bottom-style:solid;
 border-bottom-color:rgb(228, 224, 227);
 z-index:2;

 }
 .left-section{
   align-items:center;
   display:flex;
 }
 .humburger-menu{
  height:20px;
  margin-left:24px;
  margin-right:20px;

 }
 .youtube-logo{
  height:20px;
 }
 .middle-section{

  FLEX:1;
  MARGIN-LEFT:70PX;
  MARGIN-RIGHT:35PX;
  MAX-WIDTH:500PX;
  display:flex;
  align-items:center;

 }
 .searchbar{
  flex:1;
  height:30px;
  padding:10px;
  font-size:16px;border-style:solid;
  border-width:1px;
  border-color:rgb(192,192, 192);
  border-radius:2px;
  box-shadow:inset 1px 2px 5px rgba(0,0,0,0.05);
width:0; margin-bottom:10px;
}

 .search-bar::placeholder{
  font-family: roboto,arial;
  font-size:16px;
 }
 .search-button{
  height:50px;
  width:50px;
  background-color:rgb(240,240,240);
  border-style:solid;
  border-width:1px;
  border-color:rgb(192,192, 192);
  margin-left:-1px;
  margin-right:10px;
  margin-bottom:10px;
  position:relative;
 }
 .search-icon{
  height:35px;
  margin-top:4px;
 }
 .voice-search-button{
  height:50px;
  width:50px;
  border-radius:25px;
  border:none;
   margin-bottom:10px;
 }
 .right-section{
 
  WIDTH:180PX;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-right:20px;
  flex-shrink:0;
 }
.voice-search-icon{
  height:34px;
  margin-top:4px;
  background-color:rgb(245,245,245);
}
.upload-icon{
  height:24px;
}
.youtube-apps-icon{
  height:24px;
}
.notification-icon{
  position:relative;
  height:24px;
}
.notification-icon-container{
  position:relative;
}
.notifcation-count{
  position:absolute;
  top:-2px;
  right:-2px;
  background-color:rgb(200, 0,0);
  color:white;
  font-family:rorboto,arial;
  font-size:11px;
  padding-top:2px;
  padding-bottom:2px;
  padding-right:5px;
  padding-left:5px;
  border-radius:10px;
}
.current-user-picture{
  height:32px;
  border-radius:16px;
}
.search-bitton .tooltip ,voice-search-button .tooltip{
  position:absolute;
  background-color:rgb(237, 237, 237);
  padding-top:4px;
  padding-bottom: 4px;
  padding-left:8px;
  padding-right:8px;
  border-radius:2px;
  font-size:12px;
  bottom:-30;
  opacity:0;
  transition::opacity 0.15s;
  pointer-events:none;
}
.search-bitton:hover .tooltip{
  opacity:1;
}
.search-button,voice-search-button{
  position:relative;
}