 
          
       
            .video-title{
              margin-top:0px;
              font-size:14px;
              font-weight:500;
              line-height:20px;
              margin-bottom:12px;
            }
        .video-info-grid{
          display:grid;
          grid-template-columns:50px 1fr; 
        vertical-align:top;}
          .profile-picture{
            width:36px;
          border-radius:50px
        }
          .thumbnail-row{
            margin-bottom:8px;
            width:400px;
            position:relative;

          }
          .video-status, .video-authour{
            font-size:12px;
            color:rgb(96,96,96,); 
          }
         
        .video-title{
          margin-top:0;
          font-size:14px;
          font-weight:500;
         
          margin-bottom:10px;

        }
          .video-info {vertical-aligne:top;}
           .video-authour{
            margin-bottom:4px;

          }
          
          .video-grid{
            display:grid;
            grid-template-columns:1fr 1fr 1fr;
            column-gap:16px;
            row-gap:40px;
            text-dicoration:underline
          }
          @media(max-width:600px){
            .video-grid{
              grid-template-columns:1fr 1fr;
            }
          }

           @media(min-width:751px)and (max-width:999px){
            
           }
          @media(min-width:1000px){
            .videio-grid{grid-template-columns: 1fr 1fr 1fr }
          }
          
          .video-time{
              right:8px;font-family:roboto,arial;
              font-size:12px;
              font-weight:500px;
              padding:4px;
              border-radius:2px;
            background-color:black;
            color:white;
            position:absolute;
            bottom:10px;
          

          }