.SUBSCRIBE-BUTTON {
    background-color: red;
 COLOR:white;
 BORDER:NONE;
 padding-top:10px;
 padding-bottom:10px;
 padding-right:16px;
 padding-left:16px;
 BORDER-RADIUS:2PX;
CURSOR: POINTER;
margin-right: 20px;
margin-left: 20px;
transition: opacity 0.15s;
}
.SUBSCRIBE-BUTTON:hover {
    opacity:0.8;
}
.SUBSCRIBE-BUTTON:active {
    opacity:0.5;
}
.JOIN-BUTTON {
    BACKGROUND-COLOR:WHITE;
BORDER-COLOR:rgb(6, 95, 212);
BORDER-STYLE:solid;
BORDER-WIDTH:1PX;
COLOR:rgb(41, 118, 211);
padding-top:9px;
 padding-bottom:10px;
 padding-right:16px;
 padding-left:16px;
 BORDER-RADIUS:2PX;
border-radius:2px;
cursor: pointer;
margin-right: 20px;}
.join-button :hover{
    color: white;
  background-color: rgb(6, 95, 212);
   transition :backgrond-color 1s;
   color: 1s;
}
.join-button:active {
opacity:0.7;
}
.tweet-button {
    background-color:rgb(29, 155, 240);
    color:white;
    border: none;
    height: 36px;
    width: 70px;
    border-radius : 18px;
    font-weight:bold;
    font-size:15px;
    cursor:pointer;
    margin-left : 8px;
 transition: background-box 0.15s;
 color:0.15s;
}
.tweet-button:hover {
     box-shadow : 5px 5px 10px rgba(0, 0, 0,0.15);      
}
