p{
    font-family:arial;
     margin-top:0;
     margin-bottom:0;
  }

  .video-title {
    
    font-size:18px;
    font-weight:bold;
    line-height:30px;
    text-align:center ;
    width:280px;margin-bottom:5;
   
  }
.video-status{
 
  font-size:14px;
color:rgb(96,96,96);margin-bottom:20;

      
    }
    .video-author{
     
      font-size:14px;
      color:rgb(96,96,96,);margin-bottom:20;    }
      .video-discription{ 
 
  font-size:14px;
  color:rgb(96,96,96);
  width:280px;
  line-height:22px;margin-bottom:100;
 

      }
      .apple-text {
        margin-bottom:50px;
        background-color:rgb(227,65,64);
        color:white;font-size:14px;text-align:center;
        padding-top:18px;
        padding-bottom:18px;
      

      }
      .span:hover {
        text-decoration:underline;
        cursor:pointer;

      }
      .a{
        color:red;
      }